.main-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  background-color: lightgray;
  padding: 15px 30px;
}

h2.title-about {
  display: flex;
  justify-content: center;
  
  background-color: rgb(91, 106, 120);
  border-bottom: 2px solid black;
  color: lightgray;
  margin-top: 3rem;
  padding: .5rem;
  max-width: 800px;
  width: 100%;
}

p.text-about {
  background-color: lightslategray;
  line-height: 150%;
  max-width: 800px;
  padding: 1rem;
}

h3.thank-you {
  padding-top: 3rem;
  text-align: center;
}
