.main-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray ;
}

h2.title-about {
  margin-top: 3rem;
  padding: .5rem;
  background-color: rgb(91, 106, 120);
  color: lightgray;
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

p.text-about {
  max-width: 800px;
  background-color: lightslategray;
  padding: .5rem;
  line-height: 150%;
}

h3.thank-you {
  padding-top: 3rem;
}
