.contactMain {
  margin: 3rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form-contact {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 450px;
  width: 80%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.form-top {
  background-color: #ff9800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.form-top h1 {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.form-mid {
  background-color: #ececec;
}

.form-bottom {
  background-color: #ececec;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .form-mid {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-mid input,
.form-mid textarea {
  padding: 1rem;
  border: none;
  background-color: rgba(119, 136, 153, 0.293);
  border-radius: 5px;
  outline-width: 0;
  font-size: 1.1rem;
}

.form-mid textarea {
  resize: none;
}

.container form .error-msg-container {
  height: 1rem;
  color: red;
}

button.send-contact {
  margin: 1rem 4rem 2rem;
  padding: 1rem;
  max-width: 200px;
  width: 100%;
  font-size: large;
  outline-color: black;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid black;
}
