@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto";
  /* this webkit makes iPhone users experience look the same as in a Desktop */
  -webkit-appearance: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
}

.first-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER ---------------------------------------------------- HEADER */
header {
  margin-bottom: auto;
}

.headerContainer {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #00c300; */
  border-bottom: 1px solid black;
}

.logoIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  /* background-color: #1877f2; */
}

.logoIconContainer p {
  font-size: 2.5rem;
  font-weight: bold;
}

.logoIconContainer span {
  color: #ff9800;
}

.openCloseIcon {
  display: none;
  cursor: pointer;
}

.menuNav ul {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuNav ul li {
  color: black;
  font-size: large;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
}

.menuNav ul li:hover {
  border-bottom: 2px solid #ff9800;
}

/* HERO ---------------------------------------------------- HERO */
.hero {
  display: flex;
  position: relative;
}

.hero img {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

.hero .container-hero {
  position: absolute;
  padding: 2rem;
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 152, 0, 0.75);
  text-align: end;
}

.hero .container-hero p {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* FEATURED ---------------------------------------------------- FEATURED */
.featured {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured .container {
  margin: 6rem 30px;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.featured .container > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.featured .container .card {
  background-color: #ffcc80;
  padding: 25px 15px;
  width: 250px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featured .container .card h2 {
  margin: 15px 0;
}

.featured .container .card p {
  text-align: center;
}

.featured .container .card > svg {
  color: #ff9800;
  font-size: 50px;
}

/* COLLECTIONS ---------------------------------------------------- COLLECTIONS */
.collections {
  display: flex;
  justify-content: center;
  background-color: #f9fafb;
  border-color: 1px solid #e5e7eb;
}

.collections .container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffcc80;
  border-radius: 10px;
  margin: 7rem 30px;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
}

.collections .image {
  display: flex;
  justify-content: center;
  flex: 1;
}

.collections img {
  max-width: 400px;
  width: 100%;
}

.collections .text {
  min-width: 50%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.collections .btns {
  display: flex;
  margin: 40px -4px 0;
}

.collections .text a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f9fafb;
  border-color: 1px solid #e5e7eb;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 5px;
}

.collections .text a:hover {
  color: #ff9800;
}

/* TESTIMONIALS ---------------------------------------------------- TESTIMONIALS */
.testimonials {
  background-color: #ffcc80;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials > h2 {
  margin: 4rem 30px 2rem;
}

.testimonials .container {
  margin: 0 30px 5rem;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonials .container .card {
  max-width: 350px;
  height: 170px;
  border: 2px solid;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.testimonials .container .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;

  display: flex;
}

.testimonials .container .card .star-icons {
  margin: 10px 0 0;
  color: rgb(246, 246, 32);
}

/* NEW ARRIVALS ---------------------------------------------------- NEW ARRIVALS */
.new-arrivals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.new-arrivals > h2 {
  margin: 4rem 30px 10px;
}

.new-arrivals > p {
  margin: 0 30px 2rem;
}

.new-arrivals .container {
  margin: 0 30px 5rem;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.new-arrivals .container .card {
  width: 250px;
  border: 1px solid #ffcc80;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.new-arrivals .container .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;

  display: flex;
}

.new-arrivals .container .card h3 {
  margin: 10px;
  text-align: center;
  flex-grow: 1;
}

.new-arrivals .container .card p {
  margin-bottom: 10px;
}

.new-arrivals .btns {
  display: flex;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  margin: 10px 0 20px 0;
  cursor: pointer;
}

.new-arrivals .btns:hover {
  color: #ff9800;
}

.new-arrivals .btns span {
  cursor: pointer;
}

/* NEWSLETTER ---------------------------------------------------- NEWSLETTER */
.newsletter {
  background-color: #f9fafb;

  display: flex;
  justify-content: center;
}

.newsletter h2 {
  font-size: 30px;
  color: black;
}

.newsletter .container {
  max-width: 1200px;
  margin: 7rem 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
}

.newsletter .container input {
  height: 90%;
  max-width: 450px;
  width: 100%;
  padding: 1rem;
  font-size: large;
}

.newsletter .container form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.newsletter .container button {
  padding: 1rem;
  background-color: #ff9800;
  border: none;
  font-weight: bold;
  font-size: 16px;
  width: 40%;

  cursor: pointer;
}

.newsletter .container button:hover {
  background-color: #ffcc80;
}

/* SOCIAL NETWORKS ---------------------------------------------------- SOCIAL NETWORKS */
.social-network {
  background-color: #ffcc80;

  display: flex;
  justify-content: center;
}

.social-network .container {
  padding: 2rem 0;
  font-size: 1.25rem;
  margin: 0 30px;
  max-width: 1200px;
  width: 100%;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.social-network .container .icons {
  display: flex;
  font-size: 25px;
}

.social-network .container .icons li a {
  margin-left: 40px;
  color: #ff9800;
}

.social-network .container .icons li:nth-child(1) a:hover {
  color: #1877f2;
}

.social-network .container .icons li:nth-child(2) a:hover {
  color: black;
}

.social-network .container .icons li:nth-child(3) a:hover {
  color: #e4405f;
}

.social-network .container .icons li:nth-child(4) a:hover {
  color: #00c300;
}

/* FOOTER ---------------------------------------------------- FOOTER */
footer {
  background-color: #ffcc80;

  display: flex;
  justify-content: center;
  margin-top: auto;
}

footer .container {
  margin: 3rem 30px;
  max-width: 1200px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  gap: 40px 0;
}

footer .container .card {
  max-width: 250px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

footer .container .card:nth-child(1) {
  max-width: 370px;
  width: 100%;
}

footer .container span {
  color: #ff9800;
  font-size: larger;
}

footer .container .card ul {
  line-height: 2;
}

footer .container .card:last-child li > svg {
  margin-right: 10px;
}

footer .container .card p {
  line-height: 1.25;
}

footer .container .card h2 {
  margin-bottom: 10px;
}

footer .container .contact li > svg {
  color: #ff9800;
}

/* ASIDE ---------------------------------------------------- ASIDE */
aside .copyright {
  background-color: #ff9800;
  padding: 1rem;
  text-align: center;
}

/* MEDIA QUERIES ---------------------------------------------------- MEDIA QUERIES */
@media (max-width: 769px) {
  /* HERO */
  .hero .container-hero p {
    font-size: 2.5rem;
    text-align: left;
  }
  .social-network .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .social-network .container .icons li:first-child a {
    margin-left: 0;
  }
}

@media (max-width: 690px) {
  /* HEADER */
  .headerContainer {
    flex-direction: column;
  }
  .openCloseIcon {
    display: block;
  }
  .menuNav {
    display: none;
    margin: 1rem;
  }
  .showMenu {
    display: block;
  }
  .logoIconContainer p {
    font-size: 2rem;
  }

  /* COLLECTIONS */
  .collections .container {
    flex-direction: column;
  }
  .collections .text {
    text-align: center;
    gap: 10px;
  }
  .collections h2 {
    font-size: 1.25rem;
  }
  .collections .text a {
    padding: 0.5rem 1rem;
    margin: 0 5px;
  }
  .collections .btns {
    justify-content: center;
  }

  /* TESTIMONIALS */
  .testimonials .container .card {
    flex-direction: column;
    height: 250px;
  }
  .testimonials .container .card .text {
    text-align: center;
  }
}

@media (max-width: 460px) {
  /* HEADER */
  .logoIconContainer p {
    font-size: 1.5rem;
  }

  /* HERO */
  .hero .container-hero p {
    font-size: 2rem;
    text-align: left;
  }
  .newsletter .container div {
    flex-wrap: wrap;
  }
  .newsletter .container a {
    width: 50%;
  }

  /* COLLECTIONS */
  .collections h2 {
    font-size: 1rem;
    font-weight: bolder;
  }
  .collections .btns {
    margin-top: 2rem;
  }
  .collections .btns a {
    display: flex;
    padding: 1rem 1.75rem;
  }
}
